// header {

// }

.hero {
  h1 {
    @include h1_mobile;
  }
  p {
    @include p_mobile;
  }
  .btn {
    @include button_1;
  }
}

.section_2 {
  h2 {
    @include h2_mobile;
    color: $white;
  }
  h2 span {
    color: $red;
  }
  p {
    @include p_mobile;
    color: $white;
  }
  a {
    font-size: 15px;
    font-weight: 800;
    line-height: 18.35px;
    color: $red;
  }
}

.section_3 {
  color: $white;
  h2{
    @include h2_mobile;
  }
  h3{
    @include h3_mobile;
  }
  p{
    @include p_mobile;
  }
}

.section_4 {
  color: $white;
  h2{
    @include h2_mobile;
  }
}

.section_5 {
  h2 {
    @include h2_mobile;
  }
}
