@import 'variables';
@import 'layout';
@import 'decorations';
@import 'typography';
@import 'burger';
@import 'media';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: $white;
}

html {
    font-family: $mainFont;
}

